<div class="col-sm-9">
                    <div class="blog-detail blog-list">
                    <div class="title-group3">
                                <h3>Comments (3)</h3>
                            </div>
                            <div class="comment-list">
                                <div class="comment-item">
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img src="{{asset('public/site/images/avatar.png')}}" alt="{{asset('public/site/images/avatar.png')}}"></a></div>
                                        <div class="media-body">
                                            <div class="comment-date">12.5/2104</div>
                                            <div class="comment-title">Section 1.10.33 of "de Finibus Bonorum et Malorum"</div>
                                            Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. 
                                        </div>
                                    </div>
                                    <div class="comment-reply">
                                        <div class="media">
                                            <div class="media-left"><a href="#"><img src="{{asset('public/site/images/avatar.png')}}" alt="{{asset('public/site/images/avatar.png')}}"></a></div>
                                            <div class="media-body">
                                                <div class="comment-date">12.5/2104</div>
                                                <div class="comment-title">1914 translation by H. Rackham</div>
                                                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. 
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.commnent-item -->
                                <div class="comment-item">
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img src="{{asset('public/site/images/avatar.png')}}" alt="{{asset('public/site/images/avatar.png')}}"></a></div>
                                        <div class="media-body">
                                            <div class="comment-date">12.5/2104</div>
                                            <div class="comment-title">Section 1.10.33 of "de Finibus Bonorum et Malorum"</div>
                                            Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. 
                                        </div>
                                    </div>
                                </div><!-- /.comment-item -->
                            </div>
                            <hr>
                            <div class="title-group3">
                                <h3>Leave a reply</h3>
                            </div>
                            <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-md" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-md" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-md" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Your comment" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default btn-lg">Gửi Comment</button>
                            </form>
                        </div>
                 </div>